<div cdkDropListGroup>
  <!-- This is the parent container for all cdkDropLists !-->
  <div class="timetable mat-elevation-z8">
    <!-- Add static headers -->
    <div class="cell header">Arbeitsplatz</div>
    <div class="cell header">Slot</div>

    <!-- Add headers from weekdays array-->
    @for (data of weekdayDatas; track $index) {
      <div class="cell header">{{ data.date | date: 'dd.MM.yyyy' }} ({{ data.shortName | titlecase }})</div>
      <div
        class="vertical-line"
        [ngStyle]="{
          'grid-row-start': 2,
          'grid-row-end': fullHeight,
          'grid-column': $index + 3
        }"></div>
    }

    @for (workplace of workplaceDatas; track $index) {
      <div
        class="cell header"
        [ngStyle]="{
          'grid-row-start': workplace.gridRowStart,
          'grid-row-end': workplace.gridRowEnd,
          'grid-column': 1
        }">
        {{ workplace.name }}
      </div>
      <!-- Now display the slots by using the respective gridRow !-->
      @for (slot of workplace.slots; track slot) {
        <div
          class="cell header"
          [ngStyle]="{
            'grid-row': slot.gridRow,
            'grid-column': 2
          }"
          cdkDropList
          (cdkDropListDropped)="
            personDroppedIn.emit({
              person: $event.item.data,
              timeslots: slot.timeslots
            });
            assignPersonToTimeslot($event.item.data, slot.timeslots)
          ">
          {{ slot.name }}
        </div>

        <!-- Seperate each slot by a line-->
        <div
          class="horizontal-line"
          [ngStyle]="{
            'grid-row': slot.gridRow
          }"></div>

        <!-- Now display the timeslots by using their respective gridRow and gridColumn !-->
        @for (ts of slot.timeslots; track ts) {
          <div
            class="cell"
            [ngClass]="{
              'not-occupied': !ts.occupiedBy
            }"
            [ngStyle]="{
              'grid-row': slot.gridRow,
              'grid-column': ts.gridColumn
            }">
            @if (editable) {
              <app-select-person [selectedPerson]="ts.occupiedBy" (selected)="personDroppedIn.emit({ person: $event, timeslots: [ts] }); ts.occupiedBy = $event"></app-select-person>
            } @else {
              {{ ts.occupiedBy?.fullname ?? 'NA' }}
            }
            @if (displayTime) {
              {{ ts.startTime }} - {{ ts.endTime }}
            }
          </div>
        }
      }
    }
  </div>
</div>
