<div class="actions-container">
  <div class="actions">
    <mat-slide-toggle id="toggleColors" color="accent" [checked]="displayColors" (change)="toggleColors.emit($event.checked)">Zeitslots farbig markieren</mat-slide-toggle>
    <mat-slide-toggle id="togglePersonsLabel" color="accent" [checked]="displayColorsMissing" (change)="toggleColorsMissing.emit($event.checked)">Leere Slots hervorheben</mat-slide-toggle>
    <mat-slide-toggle id="toggleTimeLabel" color="accent" [checked]="displayTimes" (change)="toggleTimeLabel.emit($event.checked)">Zeiten anzeigen</mat-slide-toggle>
    <mat-slide-toggle id="toggleCommentsLabel" color="accent" [checked]="displayComments" (change)="toggleComments.emit($event.checked)">Kommentare anzeigen</mat-slide-toggle>
    <span class="spacer"></span>
    <button mat-raised-button id="toggle-absency-panel-button" color="accent" (click)="toggleAbsencyPanel.emit()">Abwesenheiten</button>
    <button mat-raised-button id="edit-route-button" color="accent" routerLink="/planner" [queryParams]="{ department: departmentId }">Editieransicht</button>
    <button color="accent" id="shift-backward-button" mat-raised-button (click)="shiftWeek.emit(-1)"><<</button>
    <button color="accent" id="shift-forward-button" mat-raised-button (click)="shiftWeek.emit(1)">>></button>
  </div>
</div>
