<div class="actions-container">
  <app-actions
    (toggleEditingMode)="plannerStateHandlerService.editable = $event"
    (toggleColors)="timetableDataContainerService.colorize = $event"
    (togglePersonsLabel)="timetableDataContainerService.displayPersons = $event"
    (toggleTimeLabel)="timetableDataContainerService.displayTime = $event"></app-actions>
</div>

<app-editable-timetable (personDroppedIntoTimeslot)="plannerStateHandlerService.assignPersonToTimelots($event)"></app-editable-timetable>
