<div class="actions-container">
  <app-actions-editable
    (toggleColors)="timetableDataContainerService.colorize = $event"
    (toggleTimes)="timetableDataContainerService.displayTimes = $event"
    [displayColors]="timetableDataContainerService.colorize$"
    [displayTimes]="timetableDataContainerService.displayTimes$"
    (shiftWeek)="activeWeekHandlerService.shiftWeek($event)"
    [departmentId]="activeDepartmentHandlerService.activeDepartment$"></app-actions-editable>
</div>

<app-editable-timetable></app-editable-timetable>

<div id="overlay" [ngStyle]="{ display: timetableDataContainerService.isLoading$ ? 'block' : 'none' }"></div>
