@defer (on viewport) {
  <mat-form-field>
    <mat-label>Person</mat-label>
    <input type="text" matInput autocomplete="off" [formControl]="control" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selected.emit($event.option.value)">
      @for (person of filteredPersons$ | async; track person) {
        <mat-option [value]="person"> {{ person.last_name }} ({{ person.id }}) </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
} @placeholder {
  <div></div>
}
