<div class="inline">
  <mat-form-field>
    <mat-label>Person</mat-label>
    <input type="text" matInput autocomplete="off" [formControl]="control" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="emitEvent($event.option.value)">
      @for (person of filteredPersons$ | async; track person) {
        <mat-option [value]="person"> {{ person.last_name }} ({{ person.id }}) </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <div class="actions">
    <button mat-mini-fab color="primary" matTooltip="Kommentar editieren"><mat-icon>edit</mat-icon></button>
  </div>
</div>
