<div class="top-overlay mat-elevation-z8">
  <div class="container">
    @defer {
      <app-search-bar [control]="control" placeholder="Max Mustermann" formHint="Filtern nach Vor- und Nachname"></app-search-bar>
      @if (filteredPersons$ | async; as persons) {
        <div class="card-container" cdkDropList [cdkDropListData]="persons">
          @for (person of persons; track person) {
            <mat-card [matTooltip]="person.last_name + ', ' + person.first_name" matTooltipPosition="above" cdkDrag [cdkDragData]="person"
              ><mat-card-content class="card-content"> {{ person.id }} ({{ person.working_hours }}) </mat-card-content></mat-card
            >
          }
        </div>
      }
    } @placeholder {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <small>Personen die von Montag bis Freitag zugewiesen sind, werden hier nicht angezeigt!</small>
  </div>
</div>
