@import 'app/shared/styles/timetable.scss';

.slot-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  button {
    margin: 0 0 0.75rem 0;
  }
}
.top-overlay {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  margin: 1rem;
}
