<div class="actions-container">
  <app-actions-viewer
    (toggleColors)="timetableDataContainerService.colorize = $event"
    (toggleColorsMissing)="timetableDataContainerService.colorizeMissing = $event"
    (toggleTimeLabel)="timetableDataContainerService.displayTimes = $event"
    (toggleComments)="timetableDataContainerService.displayComments = $event"
    [displayComments]="timetableDataContainerService.displayComments$"
    [displayColorsMissing]="timetableDataContainerService.colorizeMissing$"
    [displayTimes]="timetableDataContainerService.displayTimes$"
    [displayColors]="timetableDataContainerService.colorize$"
    (shiftWeek)="activeWeekHandlerService.shiftWeek($event)"
    [departmentId]="activeDepartmentHandlerService.activeDepartment$"></app-actions-viewer>
</div>

<app-view-only-timetable></app-view-only-timetable>

<div id="overlay" [ngStyle]="{ display: timetableDataContainerService.isLoading$ ? 'block' : 'none' }"></div>
