<!-- TODO: add actions to modify values in viewerstatehandlerservice-->
<div class="actions-container">
  <app-actions-viewer
    (toggleColors)="timetableDataContainerService.colorize = $event"
    (togglePersonsLabel)="timetableDataContainerService.displayPersons = $event"
    (toggleTimeLabel)="timetableDataContainerService.displayTimes = $event"
    (toggleComments)="timetableDataContainerService.displayComments = $event"
    [displayComments]="timetableDataContainerService.displayComments$"
    [displayPersons]="timetableDataContainerService.displayPersons$"
    [displayTimes]="timetableDataContainerService.displayTimes$"
    [displayColors]="timetableDataContainerService.colorize$"></app-actions-viewer>
  <button mat-raised-button color="accent" routerLink="/planner" [queryParams]="getEditRouterQueryParams()">Editieransicht</button>
</div>

<app-view-only-timetable></app-view-only-timetable>
