.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
}

.center {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
}
