<div class="timetable-container">
  <div class="timetable mat-elevation-z8">
    <!-- Add static headers -->
    <div class="cell header">Arbeitsplatz</div>
    <div class="cell header">Slot</div>

    <!-- Add headers from weekdays array-->
    @for (data of activeWeekdayService.activeWeek$; track $index) {
      <div class="cell header">{{ data.date | date: 'dd.MM.yyyy' }} ({{ data.shortName | titlecase }})</div>
    }

    @for (workplace of timetableDataContainerService.workplaces$; track $index) {
      <div
        class="cell header"
        [ngStyle]="{
          'grid-row-start': workplace.gridRowStart,
          'grid-row-end': workplace.gridRowEnd,
          'grid-column': 1
        }">
        {{ workplace.name }}
      </div>
      <!-- Now display the slots by using the respective gridRow !-->
      @for (slot of workplace.timeslotGroups; track slot) {
        <div
          class="cell header"
          [ngStyle]="{
            'grid-row': slot.gridRow,
            'grid-column': 2
          }">
          {{ slot.name }}
        </div>

        <!-- Now display the timeslots by using their respective gridRow and gridColumn !-->
        @for (wts of slot.workdayTimeslots; track wts) {
          <div
            class="cell content"
            [ngClass]="{
              'not-occupied': !wts.person
            }"
            [ngStyle]="{
              'grid-row': slot.gridRow,
              'grid-column': wts.gridColumn,
              'background-color': timetableDataContainerService.colorize$ ? (themeHandlerService.isDark$ ? wts.colorForDarkMode : wts.colorForLightMode) : null
            }">
            @if (timetableDataContainerService.displayPersons$ && wts.person) {
              {{ wts.person.last_name }} ({{ wts.person.id }}) <br />
            }
            @if (timetableDataContainerService.displayTimes$) {
              {{ wts.start_time }} - {{ wts.end_time }} ({{ wts.duration_in_minutes / 60 }}) <br />
            }
            @if (timetableDataContainerService.displayComments$ && wts.comment) {
              {{ wts.comment }} <br />
            }
          </div>
        }
      }
    }
  </div>
</div>
