.container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}
mat-form-field {
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.comment {
  margin-top: 0.5rem;
}
